EvaluacionEscritoroSOA/EvaluacionEscritoroSOA/Connected Services/WCFServiceSOA/WCFServiceSOA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFServiceSOA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64973/WCFServiceSOA.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64973/WCFServiceSOA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64973/WCFServiceSOA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceSOA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFServiceSOA_obtenerVentasporArticulo_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerVentasporArticulo" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceSOA_obtenerVentasporArticulo_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerVentasporArticuloResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceSOA_obtenerCantidadArticulos_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCantidadArticulos" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceSOA_obtenerCantidadArticulos_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCantidadArticulosResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceSOA_obtenerVentasGlobales_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerVentasGlobales" />
  </wsdl:message>
  <wsdl:message name="IWCFServiceSOA_obtenerVentasGlobales_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerVentasGlobalesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFServiceSOA">
    <wsdl:operation name="obtenerVentasporArticulo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceSOA/obtenerVentasporArticulo" message="tns:IWCFServiceSOA_obtenerVentasporArticulo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceSOA/obtenerVentasporArticuloResponse" message="tns:IWCFServiceSOA_obtenerVentasporArticulo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCantidadArticulos">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceSOA/obtenerCantidadArticulos" message="tns:IWCFServiceSOA_obtenerCantidadArticulos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceSOA/obtenerCantidadArticulosResponse" message="tns:IWCFServiceSOA_obtenerCantidadArticulos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerVentasGlobales">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFServiceSOA/obtenerVentasGlobales" message="tns:IWCFServiceSOA_obtenerVentasGlobales_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFServiceSOA/obtenerVentasGlobalesResponse" message="tns:IWCFServiceSOA_obtenerVentasGlobales_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFServiceSOA" type="tns:IWCFServiceSOA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerVentasporArticulo">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceSOA/obtenerVentasporArticulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCantidadArticulos">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceSOA/obtenerCantidadArticulos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerVentasGlobales">
      <soap:operation soapAction="http://tempuri.org/IWCFServiceSOA/obtenerVentasGlobales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFServiceSOA">
    <wsdl:port name="BasicHttpBinding_IWCFServiceSOA" binding="tns:BasicHttpBinding_IWCFServiceSOA">
      <soap:address location="http://localhost:64973/WCFServiceSOA.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>