EvaluacionEscritoroSOA/EvaluacionEscritoroSOA/Connected Services/WCFServiceSOA/WCFServiceSOA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64973/WCFServiceSOA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceSOA" />
  <xs:element name="obtenerVentasporArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ventas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerVentasporArticuloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceSOA" minOccurs="0" name="obtenerVentasporArticuloResult" nillable="true" type="q1:ArrayOfVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCantidadArticulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ventas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCantidadArticulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceSOA" minOccurs="0" name="obtenerCantidadArticulosResult" nillable="true" type="q2:ArrayOfArticulos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerVentasGlobales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ventas" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerVentasGlobalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceSOA" minOccurs="0" name="obtenerVentasGlobalesResult" nillable="true" type="q3:ArrayOfVentasGlobales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>